@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
  background-image: url("../public/images/background.jpg");
}
.board {
  display: flex;
  align-items: flex-start;
  position:relative;
  height: 605px;
  overflow: hidden;
  overflow-x: auto;
  padding: 10px 20px 5px 20px;
  border-radius: 5px;

  &__add-item {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 272px;
    height: 40px;
	  padding: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background: #DFE3E6;
    border: none;
    cursor: pointer;
    transition: all 1s ease;
    &:hover{
        background: #929597;
    }
    &:active{
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
        background: #505152;
        font-size: 12px;
    }
    &--text{
      margin-top: 3px;
    }
  }
  &__column {
    min-width: 272px;
    max-width: 272px;
    max-height: 545px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #DFE3E6;
    flex: 1;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__column-title {
    margin: 8px 0px 2px 12px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    color: #000000;
    user-select: none;
    cursor: pointer;
    outline: none;
  }
  &__dropzone {
    height: 10px;
	transition: background 0.15s, height 0.15s;
    &--active {
        height: 20px;
        background: rgba(0, 0, 0, 0.25);
    }
  }
  &__column-items {
    margin: 8px 12px 0 12px;
  }
  &__item {
    background: white;
    margin-top: 10px;
    &--input{
        padding: 8px 8px 8px 12px;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 13px;
        background: white;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        &:empty:before {
          content: attr(data-placeholder);
        }
    }
  }
  &__add-icon{
    background-image: url('../public/icons/add.svg');
    background-size: contain;
    height: 30px;
    width: 30px;
  }
}
.info-icon{
  background-image: url("../public/icons/info.svg");
  margin: 10px 0 0 10px;
  height: 25px;
  width: 25px;
}
.tooltip {
  width: 300px;
  position: fixed;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
  background: rgb(82, 82, 82);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}